<div class="container">
  <h1><%= @stores.count %> total stores</h1>

  <% @stores.each do |store| %>
    <div class="store">
      <p class="long_name">Store Name: <%= store.long_name %></p>
      <p class="city">city: <%= store.city %></p>
      <p class="distance">distance: <%= store.distance %></p>
      <p class="phone_number">phone number: <%= store.phone_number %></p>
      <p class="store_type">store type: <%= store.store_type %></p><br/>
    </div>
  <% end %>
</div>
